<html>
<body>
    {{ hi }}
<br>
original name is {{origi_name}}
the title name is {{ name }}
<br>
<ul>
    {% for name in names_list %}
    <li>{{ name }}</li>
    {% endfor %}
</ul>
<br>
the second name is {{ names_list.1 }}
<p>
Below is cars information
</p>
<p>
The color of car1 is: {{car1.color}}, makes sound: {{car1.sound}}, and has wheels= {{car1.wheels}}
<br>
The make of car2 is {{car2.make}}, makes sound: {{car2.sound}}, and has wheels= {{car2.wheels}}
<br>
Motorcycle make: {{ bike1.make}}, makes the sound: {{bike1.sound}}, and color: {{bike1.color}}
<br>
The make of car1 is {{car1.make}}
</p>
</body>
</html>
